[Unit]
Description=Shipping Service

[Service]
User=roboshop
// highlight-start
Environment=payment_ENDPOINT=payment.vydevops.space:8080
Environment=DB_HOST=mysql.vydevops.space
// highlight-end
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
